@model SelfStudyRoom.Models.StuRoom
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/master.cshtml";
}
@section scripts{
    <script>
        function addForm() {
            var Name = document.getElementById("Name").value;
            var Addr = document.getElementById("Addr").value;
            var form = document.getElementById("addform");
            if (Name == "") {
                alert("请输入自习室名称");
                return false;
            }
            if (Addr == "") {
                alert("请输入自习室地址");
                return false;
            }
            form.submit();
        }
    </script>
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"></h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/StuRoom/Edit">自习室管理</a></li>
                <li class="breadcrumb-item active" aria-current="page">编辑自习室</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div style="width:900px;margin-left:auto;margin-right:auto">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        @*<h4 class="card-title">Basic form elements</h4>
                            <p class="card-description">
                                Basic form elements
                            </p>*@
                        <form id="addform" class="forms-sample" method="post" action="/StuRoom/Add">
                           
                            <div class="form-group">
                                <label for="exampleInputName1">自习室名称</label>
                                <input type="text" class="form-control" id="Name" value="@Model.Name" name="Name" placeholder="自习室名称">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail3">座位数量:@Model.SeatNum</label>
                                <input type="hidden" name="Id" value="@Model.Id" />
                                <input type="hidden" name="SeatNum" value="@Model.SeatNum" />
                                <input type="hidden" name="Empty_Seat" value="@Model.Empty_Seat" />
                                <input type="hidden" name="AddTime" value="@Model.AddTime" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4">地址</label>
                                <input type="text" class="form-control" id="Addr" value="@Model.Addr" name="Addr" placeholder="地址">
                            </div>
                            <div class="form-group">
                                <label for="exampleSelectGender">空调</label>
                                <select class="form-control" id="IsAir" name="IsAir">
                                    @if(Model.IsAir=="有")
                                    {
                                      <option value="有" selected="selected">有</option>
                                      <option value="无">无</option>
                                    }
                                    else
                                    {
                                      <option value="有" >有</option>
                                      <option value="无" selected="selected">无</option>
                                    }
                                </select>
                            </div>

                          
                            <div class="form-group">
                                <label for="exampleTextarea1">详细介绍</label>
                                <textarea class="form-control" id="Detail" name="Detail" rows="4">@Model.Detail</textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleSelectGender">状态</label>
                                <select class="form-control" id="State" name="State">
                                    @if (Model.State == "正常")
                                    {
                                        <option value="正常" selected="selected">正常</option>
                                        <option value="暂停开发">暂停开发</option>
                                    }
                                    else
                                    {
                                        <option value="正常">正常</option>
                                        <option value="暂停开发" selected="selected">暂停开发</option>
                                    }
                                </select>
                            </div>
                            <div style="float:right">
                                <button type="button" onclick="addForm()" class="btn btn-gradient-primary mr-2">修改</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
