@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>自习室管理系统</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/Content/Admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/Content/Admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/Content/Admin/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/Content/Admin/images/favicon.png" />
    @RenderSection("scripts", required: false)
    <script language="javascript">
        // 这个脚本是 ie6和ie7 通用的脚本
        function custom_close() {
            if
(confirm("您确定要关闭本页吗？")) {
                window.opener = null;
                window.open('', '_self');
                window.close();
            }
            else { }
        }
    </script>
</head>

<body>
    @{
        SelfStudyRoom.Models.Admin adminInfo = (SelfStudyRoom.Models.Admin)ViewData["AdminInfo"];
    }

   
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="/Admin/Index"><img src="/Content/Admin/images/logo.svg" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="/Admin/Index"><img src="/Content/Admin/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <div class="nav-profile-img">
                              
                                
                                 <img src="@adminInfo.Image" alt="image">
                               
                               
                                <span class="availability-status online"></span>
                            </div>
                            <div class="nav-profile-text">
                                <p class="mb-1 text-black">@adminInfo.Name</p>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="/Admin/Index">
                                <i class="mdi mdi-cached mr-2 text-success"></i>
                                刷新
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Admin/Out">
                                <i class="mdi mdi-logout mr-2 text-primary"></i>
                                退出
                            </a>
                        </div>
                    </li>
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>

                    <li class="nav-item nav-logout d-none d-lg-block">
                        <a class="nav-link" onclick="custom_close()">
                            <i class="mdi mdi-power"></i>
                        </a>
                    </li>

                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="nav-profile-image">
                                <img src="@adminInfo.Image" alt="image">
                                <span class="login-status online"></span> <!--change to offline or busy as needed-->
                            </div>
                            <div class="nav-profile-text d-flex flex-column">
                                <span class="font-weight-bold mb-2">@adminInfo.Name</span>
                                <span class="text-secondary text-small">@adminInfo.State</span>
                            </div>
                            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Index">
                            <span class="menu-title">主页</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#general-ddd" aria-expanded="false" aria-controls="general-ddd">
                            <span class="menu-title">系统管理</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-memory menu-icon"></i>
                        </a>
                        <div class="collapse" id="general-ddd">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/Admin/SelfEdit">完善个人信息</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/Admin/UpdatePassword">修改密码</a></li>
                            </ul>
                        </div>
                    </li>
                    @if (adminInfo.State=="超级管理员")
                    {
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                            <span class="menu-title">管理员管理</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                        <div class="collapse" id="general-pages">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/Admin/Add"> 添加管理员 </a></li>
                                <li class="nav-item"> <a class="nav-link" href="/Admin/Manage">管理员管理</a></li>
                              
                            </ul>
                        </div>
                    </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/UserInfoManage">
                            <span class="menu-title">用户管理</span>
                            <i class="mdi mdi-contacts menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#seat-pages" aria-expanded="false" aria-controls="general-pages">
                            <span class="menu-title">自习室管理</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-table-large menu-icon"></i>
                        </a>
                        <div class="collapse" id="seat-pages">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/StuRoom/Add"> 添加自习室 </a></li>
                                <li class="nav-item"> <a class="nav-link" href="/StuRoom/Manage"> 自习室管理 </a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <span class="menu-title">座位管理</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/Seat/Manage">座位管理</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/Seat/HistoryManage">就座记录</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item sidebar-actions">
                        <span class="nav-link">
                            <div class="border-bottom">
                                <h6 class="font-weight-normal mb-3">快捷操作</h6>
                            </div>

                            <a href="/StuRoom/Add" class="btn btn-block btn-lg btn-gradient-primary mt-4">+ 添加自习室</a>

                        </span>
                    </li>
                  
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                @RenderBody()
               
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a href="" target="_blank">BootstrapDash</a>. All rights reserved. </span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            Hand-crafted & made with
                            <i class="mdi mdi-heart text-danger"></i> - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/Content/Admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="/Content/Admin/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/Content/Admin/js/off-canvas.js"></script>
    <script src="/Content/Admin/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/Content/Admin/js/dashboard.js"></script>
    <!-- End custom js for this page-->
</body>

</html>
